.inner_nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;

    ul {
        padding: 0;
        position: relative;
        top: 100px;

        li {
            list-style-type: none;
            cursor: pointer;
            line-height: 3;
            padding-left: 50px;
    
            a {
                font-size: 2rem;
                text-decoration: none;
                color: #000;
                transition: .4s all ease-in-out;
            }
        }
    
        li:hover {
            a {
                color:gray
            }
        }
    }
}